@model DokumanModulu.Entity.DocumentTracking

<div>
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>
        <dt>Açıklama</dt>
        <dd>@Model.Description</dd>
        <dt>Dosya Yolu</dt>
        <dd>@Model.Path</dd>
        <dt>Oluşturulma Tarihi</dt>
        <dd>@Model.CreatedDate</dd>
    </dl>
</div>
