

main > .container {
    padding: 60px 15px 0;
}


code {
    font-size: 80%;
}

.list-group-item.active a {
    
    border-color: black;
    color: white;
}


html, body {
    background-color:  whitesmoke;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}



